@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base font-normal text-election-sixth;
    font-family: "Noto Sans TC", sans-serif;
  }
  a {
    @apply block;
  }
  h1 {
    @apply text-3xl  font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  img {
    object-fit: cover;
  }
  a:hover {
    opacity: 0.8;
  }
}

@layer components {
  .flipContainer {
    perspective: 150rem;
    transition-duration: 1000ms;
  }
  .flipContainer:hover {
    transform: scale(1.1);
  }
  .flipcard {
    transition-duration: 1500ms;
    transition-delay: 1000ms;
    backface-visibility: hidden;
  }
}

@layer utilities {
  .wrap {
    max-width: 1920px;
    margin: 0 auto;
  }
  /* 手機版改 active */
  .flipContainer:hover .front {
    transform: rotateY(180deg);
  }
  /* active */
  .flipContainer:hover .back {
    transform: rotateY(0);
  }
  .back {
    transform: rotateY(-180deg);
  }
  .animationPause {
    animation-play-state: paused;
  }
}

#donationDialog::backdrop,
#feedbackDialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}
